@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eeeaea;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  width: 87%;
  margin: auto;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgba(250, 148, 10);
}

.intro {
  position: absolute;
  margin-left: 10%;
  margin-right: 13%;
  top: 45%;
  left: 5%;
}

.intro h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
}

span {
  color: rgb(250, 148, 10);
}

.intro p {
  color: #202020;
  line-height: 22px;
}

.intro a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  width: 75%;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 40px;
}

.images:hover .boy {
  left: 45%;
}

/*-------------------------------------------About Me--------------------------------------------------*/

#about {
  padding: 70px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  position: relative;
  left: 100px;
  flex-basis: 35%;
}

.about-col-1 img {
  width: 75%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 45%;
}

.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
}

.tab-contents ul li span {
  color: #d44f4f;
  font-size: 20px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*-----------------------------------------------------My Services------------------------------------------------------*/
#service {
  padding: 30px 0;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.service-list div {
  background: #b6b5b5;
  padding: 30px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.service-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.service-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.service-list div a {
  text-decoration: none;
  color: #9b3636;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.service-list div:hover {
  background-color: rgb(243, 169, 65);
  transform: translateY(-10px);
}
/*-------------------------------------------------------Projects----------------------------------------------------*/

#projects {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(243, 169, 65));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 20px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.layer p {
  color: #fff;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #000000;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  transition: background 0.5s;
}

.btn:hover {
  background: rgb(243, 169, 65);
}
/*-----------------------------------------------Contact-------------------------------------------------*/

.contact-left {
  text-align: left;
  flex-basis: 35%;
}

.contact-left {
  display: inline-block;
  width: 120px;
  text-align: center;
}

.contact-right {
  row-gap: 3rem;
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #2c2c2c;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: rgb(243, 169, 65);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: rgb(243, 169, 65);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #b6b5b5;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #b6b5b5;
  font-weight: 300;
  margin-top: 20px;
}

/*--------------------------------------------CSS RESPONSIVE-------------------------------------------------*/
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  .images {
    position: relative;
    background-position: center;
    bottom: 300px;
    left: 100px;
  }
  .intro {
    margin-bottom: 50px;
    font-size: 16px;
  }
  .intro h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #727272;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav .logo {
    display: none;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 img {
    position: relative;
    background-position: center;
    right: 50px;
    left: auto;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: red;
  margin-top: -10px;
  display: block;
}
